* { /* apply to all */
    font-family: 'Arial';
    font-size: 1em;
    line-height: 1em;
    color: #000000;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

code {
    font-family: monospace;
}

body {
    margin: 60px auto;
    width: 80%;
    background-color: #FFE4C4;
}

/* hyperlinks */
a { 
    text-decoration: none; color: #6495ED;
}
a:hover { 
    text-decoration: underline; 
/*    text-shadow: -1px -1px 0 #00008B, 1px -1px 0 #00008B,
                 -1px 1px 0 #00008B, 1px 1px 0 #00008B;*/
}

/*p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }*/

/*h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }
*/
nav ul, footer ul { padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

/*footer {
    border-top: 1px solid #d5d5d5;
}*/

/* Blog */
/*ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }*/