<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | relative_url }}">
    <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/literary-genres/512/book_Navigation_literature_Genre_Literary-02-512.png">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ "/how-to" | relative_url }}">How to</a></li>
            <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div>
</body>

</html>