---
layout: default
---
<h1>{{ page.title }} - {{ page.date | date: '%B %d, %Y' }}</h1>

{% assign author = site.data.authors[page.author] %}
{% if author.link %}
    Written by <a href="{{ author.link }}">{{ author.name }}</a>
{% else %}
    Written by {{ author.name }}
{% endif %}

<p>
    Tags:
    {% for tag in page.tags %}
        <a href="{{ site.baseurl }}{{ post.url }}">#{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
</p>

<a href="{{ page.article_doi }}">{{ page.article_short_title }}</a>

<div class="post">
    {{ content }}
</div>